<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{createClient}"></title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>

<div th:replace="~{fragments/header.html :: header}"></div>

<main class="main">
  <div th:replace="~{fragments/sidebar.html :: sidebar}"></div>

  <div class="content">
    <div th:fragment="body">
      <h1 th:text="#{registerClient}"></h1>
      <form id="registerForm" action="/register" method="post" th:object="${clientDTO}">
        <div class="input-div">
          <label for="login">Login:</label>
          <input type="text" id="login" th:field="*{login}" th:placeholder="#{giveLogin}" required>
          <p id="loginError" style="color: red;"></p>
        </div>
        <div class="input-div">
          <label for="password" th:text="#{password}">:</label>
          <input type="password" id="password" th:field="*{password}" th:placeholder="#{givePassword}" required>
          <p id="passwordError" style="color: red;"></p>
        </div>
        <div class="input-div">
          <label for="firstName" th:text="#{name}">:</label>
          <input type="text" id="firstName" th:field="*{firstName}" th:placeholder="#{giveName}" required>
        </div>
        <div class="input-div">
          <label for="lastName" th:text="#{lastName}">:</label>
          <input type="text" id="lastName" th:field="*{lastName}" th:placeholder="#{giveLastName}" required>
        </div>
          <button type="submit" th:text="#{register}"></button>
      </form>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer.html :: footer}"></div>

</body>
</html>